html {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    color: #F9FAF8;
    min-height: 100vh;
    margin: 0px;
    padding: 0px;
    background-color: #E5E7EB;
    overflow-x: hidden;
    box-shadow: none;
}

.header,
.begin,
.footer {
    background-color: #1f2937;
}

/* Main Containers */

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.begin-p {
    display: flex;
    padding: 50px 50px;
    justify-content: center;
    gap: 300px;
}

.mid-1 {
    background-color: white;
    display: flex;
}

.mid-2 {
    background-color: #E5E7EB;
    align-items: center;
    justify-content: center;
    padding: 100px 175px;
}

.popup {
    display: flex;
    margin: 50px 150px;
    background-color: #E5E7EB;
    border-radius: 8px;
}

.popup-p {
    display: flex;
    align-items: start;
    padding: 50px;
    flex: 1;
    margin-left: 50px;
    margin-right: 50px;
    flex-direction: column;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Sub Containers */

.begin-c {
    width: 400px;
}

.mid-c {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}

.mid-p {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.mid-img {
    width: 10px;
    display: flex;
    flex-direction: column;
    border: 8px;
    padding: 0px;
}

.mid-mid {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 50px;
    margin-right: 200px;
    margin-bottom: 100px;
    text-align: center;
    gap: 300px;
}

.img1 {
    height: 300px;
    width: auto;
    border-radius: 10px;
}

.img2 {
    height: 200px;
    width: 200px;
    border-radius: 10px;
    border-color: #3882F6;
    border-width: 20px;
}

.bold {
    font-weight: bolder;
    color: #F9FAF8;
    font-size: 48px;
}

.p {
    font-size: 18px;
    color: #E5E7EB;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.quote {
    font-size: 36px;
    color: #1f2937;
    font-style: italic;
}

.popup,
.begin .sign-up {
    background-color: #3882F6;
}

.popup-c {
    background-color: #F9FAF8;
    margin: 0px;
    padding: 10px;
    flex: 1;
}

.card {
    color: #1f2937;
}

.begin-c .sign-up {
    border-radius: 5px;
    font-weight: bold;
    color: #E5E7EB;
    border-color: #3882F6;
    padding: 8px 30px;
    margin-top: 12px;
}

li {
    list-style-type: none;
    color: #E5E7EB;
    font-size: 18px;
}

ul {
    display: flex;
    gap: 8px;
}

.card-c {
    display: flex;
    justify-content: center;
    width: 200px;
    margin-top: 8px;
}

.author {
    font-weight: bold;
    font-size: larger;
    color: black;
    display: flex;
    justify-content: end;
    padding-right: 40px;
    padding-top: 20px;
}
.popup-b {
    display: flex;
    justify-content: center;
    width: 300px;
}

.popup-b .sign-up {
    margin: 50px 0px;
    margin-right: 50px;
    padding: 15px 40px;
    border-radius: 5px;
    border-color: #E5E7EB;
    border-width: 2px;
    color: #E5E7EB;
    font-weight: bold;
    font-size: large;
}

.pop-p {
    font-weight: bolder;
    font-size: larger;
    padding-bottom: 8px;
}

.pop-l {
    color: #E5E7EB;
}